<h2>Контакты</h2>
<p>На ваш email придет письмо с ответом, поэтому указывайте рабочую почту!</p>

<form action = '/contacts' method = 'POST'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name = 'email_contacts' class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
<p><textarea class="form-control" name = 'textarea' rows="10"></textarea></p>
<button type="submit" class="btn btn-primary">Отправить</button>
</form>
